@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    /*background: #222435;*/
    background: blue;
    font-family: 'Roboto', sans-serif;   

}

*:focus {
    outline: none;
}

h1 {
    font-weight: 600;
    color: #7d83b9;
    text-align: center;
    margin-top: 80px;
}

h2 {
    font-weight: 200;
    text-align: center;
    color: rgba(255, 255, 255, 0.459);

}


form {
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 60px auto;
    margin-bottom: 40px;
}


input {
    display: flex;
    width: 100%;
    height: 60px;
    background: #2d3046;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    background: #363b65;
    border: none;
    color: rgba(255, 255, 255, 0.646);
    cursor: pointer;
    padding: 10px 25px;
    height: 61px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.add:hover{
    color: rgba(255, 255, 255, 0.646);
    background: #36883da4;
}


.ListTask{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;;
}

.item:hover{
    background: #151627;
}

.item span{
    width: 100%;
    color: rgba(255, 255, 255, 0.646);
    margin-right: 10px;
    padding: 10px 15px;
}

.item.complete{
    display: flex;
    justify-content: space-between;
    background:#1e1f2e;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.5;
    text-decoration: line-through;
}

.item.completo span{
    width: 100%;
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
}

button.del{
    background: #4d506e;
    border: none;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

button.del:hover{
    background: #593665d3;
    border: none;
    color: rgba(255, 255, 255, 0.646);
    padding: 15px;
    cursor: pointer;
}

button.deleteAll{
    border: 1px solid;
    border: none;
    background: #364088a3;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.646);
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
    
}

button.deleteAll:hover{
    background:#593665d3;
}

img.icon{
    border-radius: 10px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    form{
        width: 100%;
    }
    .ListaTarefas{
        width: 100%;
    }
    
}